// port__cont
.port__cont {
    padding-bottom: 20vh;
}
.port__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.port__item {
    flex: 1 1 30%;
    margin: 1%;
    
    .img {}
    
    .text {
        padding: 1.4rem;
        background: #151517;
        color: var(--white);

        h3 {
            font-size: 2.6rem;
            line-height: 1;
            padding-bottom: 0.2em;
            font-family: var(--main_font);
            text-transform: uppercase;
        }

        p {
            font-family: var(--sub_font);
        }
    }
}

// port Animation
.port__inner {
    opacity: 0;
    transform: translateY(50px);
}