.movie__list {

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            flex: 1 1 23%;
            margin: 1%;

            img {
                width: 100%;
                height: 400px;
            }

            p {
                font-family: var(--subKor_font);
                color: var(--white);
                padding-top: 7px;
            }
        }
    }
}