.movie__search {

    h2 {
        color: var(--white);
        font-size: 40px;
        font-family: var(--subKor_font);
        text-indent: -9999px;
        width: 0;
        height: 0;
    }

    .input {
        border: 1px solid var(--light_border);
        width: 98%;
        background: var(--black);
        border-radius: 50px;
        padding: 1rem 3rem 1rem 2rem;
        color: var(--light_bg);
        font-family: var(--subKor_font);
        margin: 0 1%;
        margin-bottom: 3%;
    }

    button {
        position: absolute;
        right: 20px;
        top: 8px;
        background: transparent;
        background: #fff;
        border: 0;
        color: var(--black);
        font-family: var(--subKor_font);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 12px;
        transition: opacity 0.3s ease;

        &:active {
            opacity: 0.7;
        }
    }
}


.movie__list {

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            flex: 1 1 23%;
            margin: 1%;

            img {
                width: 100%;
                height: 400px;
            }

            p {
                font-family: var(--subKor_font);
                color: var(--white);
                padding-top: 7px;
            }
        }
    }
}

@media(max-width: 800px) {
    .movie__list ul li {
        flex: 1 1 43%;
    }
}

// 애니메이션
.movie__search,
.movie__lst {
    opacity: 0;
    transform: translateY(100px);
}