.youtube__list {
    // max-width: 1200px;
    // width: 98%;
    // margin: 0 auto;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            flex: 1 1 23%;
            margin: 1%;

            p {
                font-family: var(--subKor_font);
                color: var(--white);
                padding-top: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; 
                -webkit-box-orient: vertical;    
            }
        }
    }

}

.youtube__search {
    position: relative;

    h2 {
        color: var(--white);
        font-size: 40px;
        font-family: var(--subKor_font);
        text-indent: -9999px;
        width: 0;
        height: 0;
    }

    input {
        border: 1px solid var(--light_border);
        width: 98%;
        background: var(--black);
        border-radius: 50px;
        padding: 1rem 3rem 1rem 2rem;
        color: var(--light_bg);
        font-family: var(--subKor_font);
        margin: 0 1%;
        margin-bottom: 3%;
    }

    button {
        position: absolute;
        right: 20px;
        top: 8px;
        background: transparent;
        background: #fff;
        border: 0;
        color: var(--black);
        font-family: var(--subKor_font);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 12px;
        transition: opacity 0.3s ease;

        &:active {
            opacity: 0.7;
        }
    }
}

@media(max-width: 800px) {
    .youtube__list ul li {
        flex: 1 1 43%;
    }
}

// 애니메이션
.youtube__search,
.youtube__list {
    opacity: 0;
    transform: translateY(100px);
}


// light버전
.youtube__cont.light {
    background: var(--light_bg);


}